// Specific CSS for your home-page
body {
  font-family: avenir;
  background-color: rgb(229, 227, 247);
}

li {
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 50%;
  text-align: center;
}

.btn {
  background-color: blue;
  padding: 20px;
}
